option_settings:
  - namespace: aws:elb:loadbalancer
    option_name: CrossZone
    value: true
  - namespace: aws:elb:loadbalancer
    option_name: LoadBalancerHTTPSPort
    value: 443
  - namespace: aws:elb:loadbalancer
    option_name: LoadBalancerSSLPortProtocol
    value: HTTPS
  - namespace: aws:elb:loadbalancer
    option_name: SSLCertificateId
    value: arn:aws:iam::823565053938:server-certificate/20171104.wildcard.rakuichi-rakuza.jp
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-7d66a518
  - namespace: aws:ec2:vpc
    option_name: Subnets
    value:
      - subnet-42977c1b
      - subnet-76b16701
  - namespace: aws:ec2:vpc
    option_name: ELBSubnets
    value:
      - subnet-42977c1b
      - subnet-76b16701
  - namespace: aws:ec2:vpc
    option_name: ELBScheme
    value: public
  - namespace: aws:ec2:vpc
    option_name: AssociatePublicIpAddress
    value: true
  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t2.small
  - namespace: aws:autoscaling:launchconfiguration
    option_name: SecurityGroups
    value: sg-efc76f8a
  - namespace: aws:autoscaling:launchconfiguration
    option_name: IamInstanceProfile
    value: "arn:aws:iam::823565053938:instance-profile/rakuichi-rakuza-files-s3access"
