option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t2.micro
  - namespace: aws:autoscaling:launchconfiguration
    option_name: SecurityGroups
    value: sg-9ddf77f8
  - namespace: aws:autoscaling:launchconfiguration
    option_name: SecurityGroups
    value: standard

