option_settings:
  - option_name: FUEL_ENV
    value: production
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: document_root
    value: /public
commands:
    300-composer-update:
        command: "export COMPOSER_HOME=/root && composer.phar self-update -n"
container_commands:
    300-run-composer:
        command: "composer.phar install --no-dev --optimize-autoloader --prefer-dist --no-interaction"
