commands:
  01_update_composer:
    env:
      COMPOSER_HOME: /root
    command: "/usr/bin/composer.phar self-update"
option_settings:
  - option_name: FUEL_ENV
    value: production
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: document_root
    value: /public
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: composer_options
    value: "--no-dev --optimize-autoloader"
