container_commands:
  30-cron-chmod:
    command: |
      chown root: /var/app/ondeck/bin/rakuichi-rakuza.crontab
      chmod 644 /var/app/ondeck/bin/rakuichi-rakuza.crontab
  31-cron-link:
    command: |
      ln -s /var/app/current/bin/rakuichi-rakuza.crontab /etc/cron.d/rakuichi-rakuza.crontab
    test: "test ! -L /etc/cron.d/rakuichi-rakuza.crontab"
    leader_only: true
