container_commands:
  30-cron-link:
    commands: |
      ln -s /var/app/current/bin/rakuichi-rakuza.crontab /etc/cron.d/rakuichi-rakuza.crontab
    test: "test ! -e /etc/cron.d/rakuichi-rakuza.crontab"
    leader_only: true
  31-cron-chmod:
    commands: |
      chown root: /var/app/ondeck/bin/rakuichi-rakuza.crontab /etc/cron.d/rakuichi-rakuza.crontab
      chmod 644 /var/app/ondeck/bin/rakuichi-rakuza.crontab /etc/cron.d/rakuichi-rakuza.crontab
    leader_only: true
