files:
  "/etc/httpd/conf.d/rakuichi-rakuza-mobile.conf":
    mode: "000644"
    owner: root
    group: root
    encoding: plain
    content: |
      # ガラケーは専用サイトのある旧楽市楽座へ飛ばす
      #----------------------------------------
      RewriteEngine on
      RewriteCond %{HTTP_USER_AGENT} ^(DoCoMo|J-PHONE|KDDI|DDIPOKET|UP\.Browser|J-PHONE|Vodafone|SoftBank).*$ [NC]
      RewriteRule ^(.*)$ http://www2.rakuichi-rakuza.jp/$1 [P,L,QSA]
      ProxyPassReverse / http://www2.rakuichi-rakuza.jp/
      #---------------------------------------- 
