packages:
  yum:
    git: []
    gcc: []
    libstdc++-devel: []
    gcc-c++: []
    fuse: []
    fuse-devel: []
    libcurl: []
    libxml2-devel: []
    openssl-devel: []
    mailcap: []
    automake: []
sources:
  /home/ec2-user: https://github.com/s3fs-fuse/s3fs-fuse/archive/master.zip
commands:
  02-do_autogen:
    command: sh autogen.sh
    cwd: /home/ec2-user/s3fs-fuse-master
    test: "test ! -x /usr/local/bin/s3fs"
  03-configure_s3fs:
    command: ./configure
    cwd: /home/ec2-user/s3fs-fuse-master
    test: "test ! -x /usr/local/bin/s3fs"
  04-make_s3fs:
    command: make
    cwd: /home/ec2-user/s3fs-fuse-master
    test: "test ! -x /usr/local/bin/s3fs"
  05-install_s3fs:
    command: make install
    cwd: /home/ec2-user/s3fs-fuse-master
    test: "test ! -x /usr/local/bin/s3fs"
  06-mkdir:
    command: "mkdir -p /mnt/s3fs"
    test: "test ! /mnt/s3fs"
  07-mount:
    command: "/usr/local/bin/s3fs rakuichi-rakuza-files /mnt/s3fs -o rw,allow_other,uid=498,gid=497,default_acl=public-read,iam_role=rakuichi-rakuza-files-s3access,use_cache=/tmp"
    test: "! grep -q /mnt/s3fs /proc/mounts"
  08-rc.local:
    command: |
      cat <<_EOT_ >> /etc/rc.d/rc.local
      /bin/fusermount -u /mnt/s3fs
      /usr/local/bin/s3fs rakuichi-rakuza-files /mnt/s3fs -o rw,allow_other,uid=498,gid=497,default_acl=public-read,iam_role=rakuichi-rakuza-files-s3access,use_cache=/tmp
      _EOT_
    test: "! grep -q /usr/local/bin/s3fs /etc/rc.d/rc.local"
files:
  "/etc/fuse.conf":
    owner: root
    group: root
    content: |
      # mount_max = 1000
      user_allow_other
container_commands:
  08-link:
    command: "ln -s /mnt/s3fs /var/app/current/public/files"
    test: "test ! -L /var/app/current/public/files"
    #   mkdir:
    #     command: |
    #       sudo -u webapp mkdir -p /mnt/s3fs || :
    #   umount:
    #     command: |
    #       sudo /bin/fusermount -u /mnt/s3fs || :
    #   mount:
    #     command: |
    #       sudo /usr/local/bin/s3fs rakuichi-rakuza-files /mnt/s3fs -o rw,allow_other,uid=498,gid=497,default_acl=public-read,iam_role=rakuichi-rakuza-files-s3access,use_cache=/tmp
