packages:
  yum:
    git: []
    gcc: []
    libstdc++-devel: []
    gcc-c++: []
    fuse: []
    fuse-devel: []
    libcurl: []
    libxml2-devel: []
    openssl-devel: []
    mailcap: []
    automake: []
sources:
  /usr/local/src: https://github.com/s3fs-fuse/s3fs-fuse/archive/master.zip
commands:
  01-do_autogen:
    command: sh autogen.sh
    cwd: /usr/local/src/s3fs-fuse-master
    test: "test ! -x /usr/local/bin/s3fs"
  02-configure_s3fs:
    command: ./configure
    cwd: /usr/local/src/s3fs-fuse-master
    test: "test ! -x /usr/local/bin/s3fs"
  03-make_s3fs:
    command: make
    cwd: /usr/local/src/s3fs-fuse-master
    test: "test ! -x /usr/local/bin/s3fs"
  04-install_s3fs:
    command: make install
    cwd: /usr/local/src/s3fs-fuse-master
    test: "test ! -x /usr/local/bin/s3fs"
  05-rc.local:
    command: |
      cat <<_EOT_ >> /etc/rc.d/rc.local
      /bin/fusermount -u /mnt/s3fs
      /usr/local/bin/s3fs rakuichi-rakuza-files /mnt/s3fs -o rw,allow_other,uid=498,gid=497,default_acl=public-read,use_cache=/tmp
      _EOT_
    test: "! grep -q /usr/local/bin/s3fs /etc/rc.d/rc.local"
files:
  "/etc/fuse.conf":
    owner: root
    group: root
    content: |
      # mount_max = 1000
      user_allow_other
container_commands:
  06-iam-cred:
    command: |
      # AWS_ACCESS_KEY_ID=$(/opt/elasticbeanstalk/bin/get-config optionsettings -n aws:elasticbeanstalk:application:environment -o AWS_ACCESS_KEY_ID)
      # AWS_SECRET_KEY=$(/opt/elasticbeanstalk/bin/get-config optionsettings -n aws:elasticbeanstalk:application:environment -o AWS_SECRET_KEY)
      echo ${AWS_ACCESS_KEY_ID}:${AWS_SECRET_KEY} > /etc/passwd-s3fs
      chmod 640 /etc/passwd-s3fs
      chown webapp: /etc/passwd-s3fs
    test: "sudo -u webapp test ! -w /etc/passwd-s3fs"
  07-mkdir:
    command: "mkdir -p /mnt/s3fs"
    test: "test ! -e /mnt/s3fs"
  08-mount:
    command: "/usr/local/bin/s3fs rakuichi-rakuza-files /mnt/s3fs -o rw,allow_other,uid=498,gid=497,default_acl=public-read,use_cache=/tmp"
    test: "! grep -q /mnt/s3fs /proc/mounts"
  09-link:
    command: "ln -s /mnt/s3fs /var/app/ondeck/public/files"
    test: "test ! -L /var/app/ondeck/public/files"
