packages:
  yum:
    git: []
    gcc: []
    libstdc++-devel: []
    gcc-c++: []
    fuse: []
    fuse-devel: []
    libcurl: []
    libxml2-devel: []
    openssl-devel: []
    mailcap: []
    automake: []
sources:
  /home/ec2-user: https://github.com/s3fs-fuse/s3fs-fuse/archive/master.zip
commands:
  02-do_autogen:
    command: sh autogen.sh
    cwd: /home/ec2-user/s3fs-fuse-master
  03-configure_s3fs:
    command: ./configure
    cwd: /home/ec2-user/s3fs-fuse-master
  04-make_s3fs:
    command: make
    cwd: /home/ec2-user/s3fs-fuse-master
  05-install_s3fs:
    command: make install
    cwd: /home/ec2-user/s3fs-fuse-master
  06-mkdir:
    command: |
      test -d /var/www/html/public/files || sudo -u webapp mkdir -p /var/www/html/public/files
  07-mount:
    command: /usr/local/bin/s3fs rakuichi-rakuza-files /var/www/html/public/files -o rw,allow_other,uid=498,gid=497,default_acl=public-read,iam_role=rakuichi-rakuza-files-s3access,use_cache=/tmp
files:
  "/etc/fuse.conf" :
    owner: root
    group: root
    content: |
      # mount_max = 1000
      user_allow_other

    # container_commands:
    #   mkdir:
    #     command: |
    #       sudo -u webapp mkdir -p /var/www/html/public/files || :
    #   umount:
    #     command: |
    #       sudo /bin/fusermount -u /var/www/html/public/files || :
    #   mount:
    #     command: |
    #       sudo /usr/local/bin/s3fs rakuichi-rakuza-files /var/www/html/public/files -o rw,allow_other,uid=498,gid=497,default_acl=public-read,iam_role=rakuichi-rakuza-files-s3access,use_cache=/tmp
