#container-wrap {
  margin-top: 70px;
}

.fleamarket-table th {
  width: 33.33333333%;
}

.fleamarket-table td {
  width: 66.66666667%;
  word-break: break-all;
}

.error-message {
  padding: 5px;
  color: #a94442;
}

.center-section {
  margin: 100px auto 0;
  width: 500px;
}
