li {
  list-style: none;
}

ul.step li{

}

.dl-horizontal dt
{
  white-space: normal;
  width: 300px;
}

.mainbody {
  background-color: #eeeeee;
}

.mainbody {
  background-color: #eeeeee;
}

.register_form {
  margin-right: 8px;
  vertical-align: middle;
}

.register_form .txt_ex{
  display: block;
  margin-top: 5px;
  font-size: 0.85em;
  line-height: 1.6;
}
