@charset "UTF-8";

#info h2 {
  border-left: 5px solid #0070c0;
  border-bottom: 1px solid #0070c0;
  padding: 3px 0 5px 5px;
  margin: 30px 0 20px 0;
  line-height: 1;
  clear: left;
  font-size: 1em;
}

#info {
    margin-bottom: 20px;
}

.change_policy {
    text-align: right;
}
