@charset "utf-8";
/* CSS Document */

/* --- login_left ---*/
#login_left{
	position:relative;
	text-align:center;
}
#login_left #login_left_btn {
	position:absolute;
	position:50;
	bottom:8%;
	left:15%;
}
#login_left #login_left_btn02 {
	position:absolute;
	position:50;
	bottom:6%;
	left:17%;
}
