@charset "utf-8";

li {list-style: none;}
textarea.description {width: 350px; height: 100px;}
textarea.about {width: 350px; height: 100px;}
table td {word-break:break-all; word-wrap: break-word;}

.dl-horizontal dt {white-space: normal; width: 300px;}
.mainbody {background-color: #eeeeee;}
.register_form {margin-right: 8px; vertical-align: middle;}
.register_form .txt_ex {display: block; margin-top: 5px; font-size: 0.85em; line-height: 1.6;}
.xx-small {width: 50px;}
.x-small {width: 100px;}
.small {width: 150px;}
.medium {width: 200px;}
.large {width: 250px;}
.x-large {width: 300px;}
.xx-large {width: 350px;}
